@model LeaveYourCouch.Mvc.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">


<h5>Login with</h5>

<link rel="stylesheet" href="~/Content/SocialButtons.css"/>


@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes().ToList();
    if (loginProviders.Any())
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()

            <div id="socialLoginList">

                @foreach (AuthenticationDescription p in loginProviders)
                {
                    if (p.AuthenticationType == "Google")
                    {

                        <button type="submit" class="loginBtn loginBtn--google" id="hidbtn_@p.AuthenticationType" name="provider" value='@p.AuthenticationType' title="Log in using your @p.Caption account">
                            @p.AuthenticationType
                        </button>
                    }
                    if (p.AuthenticationType == "Facebook")
                    {

                        <button type="submit" class="loginBtn loginBtn--facebook" id="hidbtn_@p.AuthenticationType" name="provider" value='@p.AuthenticationType' title="Log in using your @p.Caption account">
                            @p.AuthenticationType
                        </button>
    
                    }


                }

            </div>
        }
    }
}


