@using LeaveYourCouch.Mvc.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}


<div class="container" style="margin: 10px;">
    <h2>@ViewBag.Title.</h2>
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl },
        FormMethod.Post, new { @class = "form-group", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Use a local account to log in.</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row">
            @Html.LabelFor(m => m.Email, new { @class = "col-sm-2 col-form-label" })

            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-mail", type = "text" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.Password, new { @class = "col-sm-2 col-form-label" })

            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

        </div>

        <div class="form-group row">
            <div class="col-sm-2 col-form-label">

                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)

            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2 col-form-label">
                <input type="submit" value="Log in" class="btn btn-primary" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2 col-form-label">
                @Html.ActionLink("Register as a new user", "Register")
            </div>
        </div>
        @* Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>*@
    }


    <div class="form-group row">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}