
@model LeaveYourCouch.Mvc.Models.RelationShipsViewModel
@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="container" style="margin: 10px;">
    <h2>Relations</h2>
    <h3>Friends</h3>
    <ul>
        @foreach (var relat in Model.Friends)
        {
        <a href="@Url.Action("Profile","Users",new {id=@relat.UserId})">@relat.FirstName,@relat.UserName</a>
        }
    </ul>
    <h3>Pending</h3>
    <ul>
        @foreach (var relat in Model.Pendings)
        {
            <li>
                <a href="@Url.Action("Profile","Users",new {id=@relat.UserId})">@relat.FirstName,@relat.UserName</a>
                <a href="@Url.Action("Accept","Users",new {id=relat.UserId})">Accept</a> <text> | </text>
                <a href="@Url.Action("Reject","Users",new {id=relat.UserId})">Reject</a>
            </li>


        }
    </ul>
    <h3>Blacklist</h3>
    <ul>
        @foreach (var relat in Model.BlackList)
        {
            <li>@relat.FirstName,@relat.UserName</li>
        }
    </ul>
</div>
