@using LeaveYourCouch.Mvc.Business
@using LeaveYourCouch.Mvc.Controllers
@model LeaveYourCouch.Mvc.Models.EventDataDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!string.IsNullOrEmpty(ViewBag.StatusMessage))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @ViewBag.StatusMessage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>



}

<div class="container-fluid first-content">

    <div class="row">
        <div class="col">
            <div class="card" style="margin: 2px 0">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(model => model.Event.Title)</h5>
                    <h6 class="card-subtitle mb-2 text-muted"> @Model.Event.Date.ToLongDateString()</h6>
                    <h6 class="card-subtitle mb-2 text-muted"> @Model.Event.Time.ToString("g")</h6>
                    <p class="card-text">
                        <h6 class="card-subtitle mb-2">
                            @Html.DisplayNameFor(model => model.Event.MaxSeats)
                        </h6>
                        <h6 class="card-subtitle mb-2 text-muted">
                            @Html.DisplayFor(model => model.Participants.Count)<text>/</text>
                            @Html.DisplayFor(model => model.Event.MaxSeats)
                        </h6>
                        <h6 class="card-subtitle mb-2">
                            @Html.DisplayNameFor(model => model.Event.Address)
                        </h6>
                        <h6 class="card-subtitle mb-2 text-muted">
                            @Html.DisplayFor(model => model.Event.Address)
                        </h6>
                        <h6 class="card-subtitle mb-2">
                            @Html.DisplayNameFor(model => model.Event.MeetingDetails)
                        </h6>
                        <h6 class="card-subtitle mb-2 text-muted">
                            @Html.DisplayFor(model => model.Event.MeetingDetails)
                        </h6>

                    </p>
                </div>
            </div>
        </div>

        <div class="col-md">
            <div class="card" style="margin: 2px 0">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayNameFor(model => model.Event.Description)</h5>

                    @Html.DisplayFor(model => model.Event.Description)
                </div>
            </div>
        </div>
    </div>

    <hr />
    <div class="row text-center">
        @foreach (var distances in Model.UserData)
        {
            string icon;
            switch (distances.DirectionMode)
            {
                case DirectionModes.driving:
                    icon = "fas fa-car";
                    break;
                case DirectionModes.walking:
                    icon = "fas fa-shoe-prints";
                    break;
                case DirectionModes.bicycling:
                    icon = "fas fa-bicycle";
                    break;
                case DirectionModes.transit:
                    icon = "fas fa-bus";
                    break;
                default:
                    throw new ArgumentOutOfRangeException();
            }
            <div class="col">
                <span class="event-user-ditance">
                    <i class='@icon'></i>
                </span>
            </div>
        }

    </div>
    <div class="row text-center">
        @foreach (var distances in Model.UserData)
        {
            <div class="col">
                <span class="event-user-ditance">
                    <a href=@distances.MapLink target="_blank">
                        @distances.Distance.ToString("##.0") @distances.Unit -
                        @distances.Duration min
                    </a>
                </span>
            </div>
        }

    </div>
    <hr />
    <div class="row">
        @{
            var currentUser = UserHelpers.UserName();
            bool isUnsub = Model.Participants.Any(p => p.Email == currentUser);
            if (isUnsub)
            {
                <div class="col">
                    <a Class="btn btn-block  btn-warning" Style="margin: 2px 0;" href="/Events/UnSubscribe/@Model.Event.Id">
                        <span>
                            <i class="fas fa-sign-out-alt"></i>
                        </span>
                        <span class="d-none d-md-inline">Unsubscribe</span>

                    </a>
                </div>
            }
            else
            {
                <div class="col">
                    <a Class="btn btn-block  btn-success" Style="margin: 2px 0;" href="/Events/Subscribe/@Model.Event.Id">
                        <span>
                            <i class="fas fa-sign-in-alt"></i>
                        </span>
                        <span class="d-none d-md-inline">Subscribe</span>
                    </a>
                </div>
            }
        }




        @if (Model.CanModify)
        {
            <div class="col">

                <a Class="btn btn-block  btn-primary" Style="margin: 2px 0;" href="/Events/Edit/@Model.Event.Id">
                    <span>
                        <i class="fas fa-edit"></i>
                    </span>
                    <span class="d-none d-md-inline">Edit</span>
                </a>
            </div>
            <div class="col">
                <a Class="btn btn-block  btn-danger" Style="margin: 2px 0;" href="/Events/Delete/@Model.Event.Id">
                    <span>
                        <i class="fas fa-trash"></i>
                    </span>
                    <span class="d-none d-md-inline">Delete</span>
                </a>
            </div>
        }
        <div class="col-lg">
            <a Class="btn btn-block  btn-outline-secondary" Style="margin: 2px 0;" href="/Events/Index">
                <span>
                    <i class="fas fa-list-ul"></i>
                </span>
                <span class="d-none d-md-inline">Back to list</span>
            </a>
        </div>
    </div>
</div>

