@model IEnumerable<LeaveYourCouch.Mvc.Models.EventListItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container first-content">

    <table class="table table-striped ">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">  @Html.DisplayNameFor(model => model.Title)</th>
                <th scope="col"> @Html.DisplayNameFor(model => model.Owner)</th>
                <th scope="col"> @Html.DisplayNameFor(model => model.Participants)</th>
                <th scope="col"> @Html.DisplayNameFor(model => model.Date) </th>
                <th scope="col" class="d-none d-md-block d-xl-none"> @Html.DisplayNameFor(model => model.Time)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row" class=" align-items-center">
                        @if (item.IsPrivate)
                        {
                            <span>
                                <i class='fas fa-lock align-middle'></i>
                            </span>
                        }
                    </th>
                    <td>
                        @Html.ActionLink(item.Title, "Details", new { id = item.EventId })
                    </td>
                    <td>
                        @Html.ActionLink(item.Owner, "Profile", "Users", new { id = item.OwnerId }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Participants) /
                        @Html.DisplayFor(modelItem => item.MaxParticipants)
                    </td>
                    <td>
                        @item.Date.ToShortDateString()

                    </td>
                    <td class="d-none d-md-block d-xl-none">
                        @Html.DisplayFor(modelItem => item.Time)

                    </td>
                </tr>
  
            }
        </tbody>
    </table>
    <hr />


    @Html.ActionLink(Resources.Resources.event_index_createnew, "Create", null, new { @Class = "btn btn-primary" })

</div>


