@model IEnumerable<LeaveYourCouch.Mvc.Models.EventListItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid first-content">


    <div class="row">
        <div class="col-1 ">

        </div>
        <div class="col ">
            <strong>
                @Html.DisplayNameFor(model => model.Title)
            </strong>
        </div>
        <div class="col ">
            <strong>
                @Html.DisplayNameFor(model => model.Owner)
            </strong>
        </div>
        <div class="col text-center">
            <strong>
                @Html.DisplayNameFor(model => model.Participants)
            </strong>
        </div>
        <div class="col text-center">
            <strong>
                @Html.DisplayNameFor(model => model.Date)
            </strong>
        </div>
        <div class="col text-center d-none d-md-block d-xl-none">
            <strong>
                @Html.DisplayNameFor(model => model.Time)
            </strong>
        </div>
    </div>

    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-1 align-items-center">
                @if (item.IsPrivate)
                {
                    <span>
                        <i class='fas fa-lock align-middle'></i>
                    </span>
                }
            </div>
            <div class="col">
                @Html.ActionLink(item.Title, "Details", new { id = item.EventId })
            </div>
            <div class="col">
                
                @Html.ActionLink(item.Owner, "Profile", "Users", new {id = item.OwnerId}, null)
            </div>
            <div class="col text-center">

                @Html.DisplayFor(modelItem => item.Participants) /
                @Html.DisplayFor(modelItem => item.MaxParticipants)
            </div>
            <div class="col text-center">
                @item.Date.ToShortDateString()
            </div>
            <div class="col text-center d-none d-md-block d-xl-none">
                @Html.DisplayFor(modelItem => item.Time)
            </div>
        </div>
        <hr />
    }

</div>


<p>
    @Html.ActionLink("Create New", "Create", null, new { @Class = "btn btn-primary" })
</p>
