@model LeaveYourCouch.Mvc.Models.ManageIndexViewModel
@{
    ViewBag.Title = "Manage";
}


@if (!string.IsNullOrEmpty(ViewBag.StatusMessage))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @ViewBag.StatusMessage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}


<div class="container" style="margin: 10px;">
    <h3>Change your account settings</h3>
    <hr />

    @using (Html.BeginForm("SavePersonalData", "Manage", FormMethod.Post, new { @class = "form-group" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(r => r.UserId)
        <h4>Personal informations</h4>


        <div class="form-group row">

            @Html.LabelFor(p => p.FirstName, new { @class = "col-sm-2 col-form-label" })

            @Html.TextBoxFor(p => p.FirstName, null, new { @class = "form-control", placeholder = "FirstName", type = "text" })
            @Html.ValidationMessageFor(m => m.FirstName)
        </div>
        <div class="form-group row">
            @Html.LabelFor(p => p.Pseudo, new { @class = "col-sm-2 col-form-label" })
            @Html.TextBoxFor(p => p.Pseudo, null, new { @class = "form-control", placeholder = "Pseudonym", type = "text", disabled = "" })

        </div>
        <div class="form-group row">
            @Html.LabelFor(p => p.Address, new { @class = "col-sm-2 col-form-label" })
            @Html.TextBoxFor(p => p.Address, null, new { @class = "form-control", placeholder = "Address", type = "text" })
            <span class="event-user-ditance" style="font-size: 1em; margin:auto 5px ;" title=" ! Votre addresse ne sera JAMAIS visible sur le site par les autres utilisateurs !">
                <i class='fas fa-question-circle align-middle'></i>
            </span>
            
            @Html.ValidationMessageFor(m => m.Address)
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    }

    @if (!Model.EmailIsconfirmed)
    {
        using (Html.BeginForm("ConfirmEmailAsync", "Manage", FormMethod.Post, new { @class = "form-group" }))
        {
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Confirm email</button>
                </div>
            </div>
        }
    }



    <hr />

    <h4>Password:</h4>
    <div>
        [
        @if (Model.HasPassword)
        {
            @Html.ActionLink("Change your password", "ChangePassword")
        }
        else
        {
            @Html.ActionLink("Create", "SetPassword")
        }
        ]
    </div>
    <h4>External Logins:</h4>
    <div>
        @Model.Logins.Count [
        @Html.ActionLink("Manage", "ManageLogins") ]
    </div>
    @*
        Phone Numbers can used as a second factor of verification in a two-factor authentication system.

         See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
            for details on setting up this ASP.NET application to support two-factor authentication using SMS.

         Uncomment the following block after you have set up two-factor authentication
    *@
    @*
        <dt>Phone Number:</dt>
        <dd>
            @(Model.PhoneNumber ?? "None")
            @if (Model.PhoneNumber != null)
            {
                <br />
                <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                }
            }
            else
            {
                <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
            }
        </dd>
    *@
    <h4>Two-Factor Authentication:</h4>
    <div>
        <p>
            There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
            for details on setting up this ASP.NET application to support two-factor authentication.
        </p>
        @*@if (Model.TwoFactor)
            {
                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Enabled
                    <input type="submit" value="Disable" class="btn btn-link" />
                    </text>
                }
            }
            else
            {
                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Disabled
                    <input type="submit" value="Enable" class="btn btn-link" />
                    </text>
                }
            }*@
    </div>

</div>